.sale {
    padding-top: 30px;
}

.sell {
    padding: 40px 48px;
}

.icon {
    transform: translate(860px, 300px);
}

.menu_li {
    cursor: pointer;
    background: linear-gradient(180deg, rgb(240, 185, 11) 0%, rgb(255, 236, 136) 100%);
    border-radius: 5px;
    box-shadow: 0px 0px 4px #fadd55;
    width: 100%;
    height: 56px;
    display: flex;
    max-width: 1104px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 40px;
    gap: 15px;
    align-items: center;
}

.menu_li p {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    width: 156px;
}

.menu_sell {
    display: flex;
    padding: 30px;
    gap: 60px;
}

.menu_read {
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
    width: 180px;
    display: flex;
    cursor: pointer;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.menu_read .p {
    color: #000000;
    font-family: 'Inter-Medium', Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.input_container {
    width: 935px;
    height: 360px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.input_text {
    width: 935px;
    height: 359px;
    border: 1px solid;
    background-color: #fff;
    border-color: #000000;
    border-radius: 10px;
}

.camera-icon {
    padding: 20px;
    position: absolute;
}


/* video*/
.Add_video {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
}

.content_add {
    color: #000000;
    font-family: 'Inter-Medium', Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    width: 386px;
    height: 30px;
}

.Add_video .link {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 935px;
}

.contact_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.contact_info {
    color: #000000;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    width: 228px;
}

.name {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 935px;
}


/* .Asset */
.Asset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
}

.Type {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    width: 252px;
}

.select-asset {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 934px;
}


.Vietnamese-checkbox {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.Vietnamese-checkbox p {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    width: 639px;
}

.note p {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    width: 939px;
}

.button-post {
    padding: 35px;
}

.post {
    background: linear-gradient(180deg, rgb(248, 232, 90) 0%, rgb(255, 201, 6) 100%);
    border-radius: 10px;
    height: 70px;
    width: 818px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.post span {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    width: 98px;
}