.Detailed .detailed-contact {
    display: flex;
    padding: 10px 0;
}

.Detailed .detailedInformation {
    display: flex;
}

.Rooms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
}

.detailedInformation .input-format {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.item .rectangle {
    border: 1px solid;
    border-radius: 5px;
    border-color: #066499;
    height: 40px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item .valueControl {
    display: flex;
    align-items: center;
}

.item .valueControl button {
    width: 30px;
    height: 30px;
    margin: 0 35px;
    cursor: pointer;
}

.item .valueControl {
    border: 1px solid;
    border-color: #066499;
    border-radius: 5px;
    height: 40px;
    width: 200px;
}

.Rooms .customSelect {
    padding: 10px 0;
}

.Rooms .customSelect option {
    border-bottom: 1px solid #0000001a;
}

.Rooms .input_custom {
    padding: 20px;
    border-bottom: 1px solid #0000001a;
}

.Rooms .customSelect select {
    background-color: #0000001a;
    border-radius: 5px;
    height: 40px;
    width: 320px;
}

.Rooms .customSelect select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.Utilities_contact .Utilities {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input_textbox .enter_other {
    width: 260px;
    background-color: #0000001a;
    border-radius: 5px;
}

.Utilities .input_box {
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.Utilities_contact .input_textbox {
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 5px;
    height: 40px;

}