.form {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 12px #f0bb0b73;
    height: 100%;
    padding: 60px;
}

.Payment {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    flex-direction: column;
}

.interBank {
    padding: 20px 0;
    margin: 0 10px;
}

.Banking {
    color: #000000;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    display: flex;
    padding: 0 25px;

}