.Titlle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.Titlle span {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.input_title {
    width: 933px;
    padding: 8px;
    font-size: 16px;
    height: 98px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
}


.Description {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.Description span {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.Description_title {
    width: 933px;
    padding: 8px;
    font-size: 16px;
    height: 98px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
}

.Acrea {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.Acrea span {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
}

.text_Acrea {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 934px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
}

.content_Hori {
    gap: 90px;
    display: flex;
    padding: 20px 0;
}

.Horizontal {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.Horizontal span {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.text_Hori {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 422px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
}

.Longs {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.Longs span {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.text_Longs {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 422px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
}

.container_Price {
    gap: 10px;
    display: flex;
    padding: 20px 0;
}

.container_Price span {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.Price {
    gap: 15px;
    display: flex;
}

.flex-price {
    display: flex;
    flex-direction: column;
}

.input_Price {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 422px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 5px;
}

.content_input {
    background-color: #ffffff;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 240px;
    border-radius: 5px;
    border: 1px solid;
}