/* sd chung */
.wrapper-Informations,
.avt-wrap {
    margin: 0 auto;
    position: relative;
    width: 100%;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
/* sd chung END*/
.wrapper-Informations {
    top: 200px;
    gap: 39px 55px;
}
.image-container {
    position: absolute;
    width: 100%; /* Điều chỉnh kích thước theo ý muốn của bạn */
    height: 221px; /* Điều chỉnh kích thước theo ý muốn của bạn */
    background: rgba(153, 153, 153, 0.5);
    overflow: hidden;
}

.ImageCover-Profile {
    position: relative;
    width: 100%;
    height: 100%;
}

.coverImage {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.selected-image-preview {
    width: 100%;
    height: 221px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.selected-image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iconShare {
    position: absolute;
    top: 0;
    right: 25px;
    margin: 10px;
    font-size: 24px;
    color: #fff;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #666; /* Màu chữ xám đậm */
    cursor: pointer;
}

.has-image {
    background-color: #ddd; /* Màu xám khi đã có hình ảnh */
}
/* Add the following styles for the circular image preview */
.circular-image-preview {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
    overflow: hidden;
    background-color: #ddd; /* Gray background color */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.avt-wrap {
    top: 188px;
    padding: 0 50px !important;
}

.input-NameUser::placeholder {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.input-NameUser {
    width: 118px;
    height: 32px;
}
.IconCameraAvt,
.Icon-EditName {
    cursor: pointer;
}
.iconCamera-wrap {
    position: absolute;

    bottom: 0;
    right: 0;
}
.avtUser-bg {
    width: 115px;
    height: 115px;
    background: #fff;
    border-radius: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
