.sale {
    padding-top: 30px;
}

.sell {
    padding: 30px;
}

.icon {
    transform: translate(860px, 300px);
}

.input_container {
    width: 935px;
    height: 360px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.input_text {
    width: 935px;
    height: 359px;
    border: 1px solid;
    background-color: #fff;
    border-color: #000000;
    border-radius: 10px;
}

.camera-icon {
    padding: 20px;
    position: absolute;
}

.lable_input {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 359px;
    width: 935px;
}

label {
    position: relative;
    width: 100%;
    height: 100%;
}

input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.inputIntroductory[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 328px;
    cursor: pointer;
}

.selected-image-preview {
    width: 226px;
    height: 226px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.selected-image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* video*/
.Add_video {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
}

.content_add {
    color: #000000;
    font-family: 'Inter-Medium', Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    width: 386px;
    height: 30px;
}

.Add_video .link {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 935px;
}

.contact_menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.contact_info {
    color: #000000;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    width: 228px;
}

.name {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 935px;
}

/* .Asset */
.Asset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
}

.Type {
    color: #000000;
    font-family: 'Inter-Medium', Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    width: 252px;
}

.select-asset {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 5px;
    height: 50px;
    width: 934px;
}

.Vietnamese-checkbox {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.Vietnamese-checkbox p {
    color: #000000;
    font-family: 'Inter-Medium', Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    width: 639px;
}

.note p {
    color: #000000;
    font-family: 'Inter-Medium', Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    width: 939px;
}

.button-post {
    padding: 35px;
}

.post {
    background: linear-gradient(180deg, rgb(248, 232, 90) 0%, rgb(255, 201, 6) 100%);
    border-radius: 10px;
    height: 70px;
    width: 818px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post span {
    color: #000000;
    font-family: 'Poppins-Bold', Helvetica;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    width: 98px;
}
